<div class="chat">
    <div class="chat-header clearfix">
        <div class="chat-about">
            <div class="chat-with">Aiden Chavez</div>
        </div>
        <i class="fa fa-circle online" style="padding: 12px;"></i>

        <div class="pull-right">
            <a style="padding:10px;cursor:pointer;" onclick="closeBoxChat()"><i class="fa fa-close"></i></a>
        </div>

    </div> <!-- end chat-header -->
      
    <div class="chat-history">
        <ul style="margin-bottom: 0px;">
            
        </ul>
    </div> <!-- end chat-history -->
    <div id="dots-loader" class="dots-loading-container"><div class="dot dot-a"></div><div class="dot dot-b"></div><div class="dot dot-c"></div><div class="dot dot-d"></div></div>
    <div class="chat-message clearfix">
        <input name="message-to-send" id="message-to-send" placeholder="Type your message" rows="1"></input>
        <i class="fa fa-file-o" style="padding-left: 5px;"></i>&nbsp;
        <i class="fa fa-file-image-o"></i>
    </div> <!-- end chat-message -->
</div> <!-- end chat -->